* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}



code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.card {
  background: lightblue;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.start-button {
  background: lightgrey;
  font-size: 12px;
  height: 46px;
  width: 60px;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-left: 15px;
}

.title {
  margin-left: 15px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.image {
  height: 140px;
  width: 120px;
}