body {
  font-family: sans-serif;
  background-image: url('/public/images/stadium.jpg');
  background-size: auto;
  background-position: center -485px;
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
  padding-top: 70px;
}

.card-back {
  height: 80px;
  width: 120px;
  border: 1px solid #999;
  text-align: center;
  border-radius: 10%;
  width: auto;
  margin-left: 3px;
}

.card-front {
  height: 140px;
  width: 120px;
}

.title {
  color:whitesmoke;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.start-button {
  background: whitesmoke;
  border: 1px solid #999;
  border-radius: 10%;
  margin-bottom: 5px;
  font-size: 12px;
  height: 46px;
  width: 110px; /* set the width of the div */
  height: 50%;
  margin-left: 245px
}

.status {
  margin-bottom: 10px;
  color:whitesmoke;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
